{% extends "base.html" %}

{% block content %}
<h1>Harcama Listesi</h1>

<ul class="list-group">
<li class="list-group-item">Yemek Giderleri</li>
<li class="list-group-item">Yemek Giderleri</li>
<li class="list-group-item">Yemek Giderleri</li>
<li class="list-group-item">Yemek Giderleri</li>
<li class="list-group-item">Yemek Giderleri</li>
<li class="list-group-item">Yemek Giderleri</li>
<li class="list-group-item">Yemek Giderleri</li>
<li class="list-group-item">Yemek Giderleri</li>
<li class="list-group-item">Yemek Giderleri</li>
<li class="list-group-item">Yemek Giderleri</li>
<li class="list-group-item">Yemek Giderleri</li>
<li class="list-group-item">Yemek Giderleri</li>


</ul>  
{% endblock content %}

  